<section @fadeInAnimation>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/billing-record">Billing Records</a>
      </li>
      <li class="active">Manage Billing Record</li>
    </ol>
  
    <a class="btn btn-primary" routerLink="/billing-record">Return to Billing Records</a>
  
    <h1>Manage Billing Record</h1>
  
    <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
  
    <form (ngSubmit)="saveBillingRecord(billingRecordForm)" #billingRecordForm="ngForm" class="form-horizontal">
      <div class="form-group">
        <label for="recordType" class="col-sm-2 control-label">Record Type</label>
        <div class="col-sm-10">
          <select required [ngModel]="null" ngModel #recordType="ngModel" class="form-control" id="recordType" name="recordType">
            <option [ngValue]="null">-- Select Type --</option>
            <option value="flatfee">Flat Fee</option>
            <option value="ratebased">Rate Based</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="client" class="col-sm-2 control-label">Client</label>
        <div class="col-sm-10">
          <select required [ngModel]="null" ngModel #client="ngModel" class="form-control" id="client" name="client">
            <option [ngValue]="null">-- Select Client --</option>
            <option *ngFor="let company of companies" [ngValue]="company.id">
              {{ company.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input ngModel #description="ngModel" type="text" class="form-control" id="description" name="description" placeholder="Description"
            required minlength="5" maxlength="30">
          <span *ngIf="formErrors.description" class="text-danger">
            {{ formErrors.description }}
          </span>
        </div>
      </div>
      <div *ngIf="billingRecordForm.value.recordType === 'flatfee'" class="form-group">
        <label for="amount" class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-10">
          <input ngModel #amount="ngModel" type="text" class="form-control" id="amount" name="amount" placeholder="e.g. 100.00" required
            pattern="^(\d*\.)?\d+$">
          <span *ngIf="formErrors.amount" class="text-danger">
            {{ formErrors.amount }}
          </span>
        </div>
      </div>
      <div *ngIf="billingRecordForm.value.recordType === 'ratebased'">
        <div class="form-group">
          <label for="rate" class="col-sm-2 control-label">Rate</label>
          <div class="col-sm-10">
            <input ngModel #rate="ngModel" type="text" class="form-control" id="rate" name="rate" placeholder="e.g. 100.00" required
              pattern="^(\d*\.)?\d+$">
            <span *ngIf="formErrors.rate" class="text-danger">
              {{ formErrors.rate }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="quantity" class="col-sm-2 control-label">Quantity</label>
          <div class="col-sm-10">
            <input ngModel #quantity="ngModel" type="text" class="form-control" id="quantity" name="quantity" placeholder="e.g. 10" required
              pattern="^(\d*\.)?\d+$">
            <span *ngIf="formErrors.quantity" class="text-danger">
              {{ formErrors.quantity }}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!billingRecordForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </section>
