<section @fadeInAnimation>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" height="300px">
        <div class="item active">
          <img src="http://i.imgur.com/M8NON2K.png" height="300px">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="http://imgur.com/i7NkWlr.png" height="300px">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div class="item">
          <img src="http://imgur.com/A6qSsUA.png" height="300px">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
  
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <hr>
    <div class="heading">
      <div class="heading1">
        <h2 class="heading" align="center">Welcome to Invoicify</h2>
      </div>
    </div>
  
    <hr>
  
    <div class="subheading">
      <div class="subheading1">
        <h2 class="title">Invoice Management</h2>
        <p class="heading">Invoicify is a tool to help manage your company's finances. We provide a number of services to organize, keep track of, and sort through your records. Furthermore, Invoicify supports management for billing records, invoices, suppliers, and customer companies. With our NEW feature, we now also support the management of your business contacts! </p>
      </div>
    </div>
  
  </section>
  
