h3 {
  color: black;
}
p {
  color: black;
}
img {
  max-width: 100%;
}
img.thumbnail {
  width: 100px;
  height: 70px;
}
.carousel-inner > .item > img {
  /* display: flex;
    flex-direction: column; */
  height: 200px;
  width: auto;
}
h3 {
  color: black;
}
p {
  color: black;
}
.carousel {
  margin: auto;
  position: relative;
  max-width: 750px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.desc {
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 568px) {
  .carousel-inner > .item > img {
    /* display: flex;
        flex-direction: column; */
    height: 350px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .carousel-inner > .item > img {
    /* display: flex;
        flex-direction: column; */
    height: 500px;
    width: auto;
  }
  .flex {
    justify-content: left;
    align-items: flex-start;
  }
  .desc {
    text-align: left;
  }
}
