div.filterStuff {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
  }
  div.selectAndLabel {
    flex-direction:row;
    margin-top: 10%;
  }
  div.topStuff {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    line-height: 0;
    padding-bottom: 10px;
  }
  input#search{
    width: 13.33em;
  }